*~
*.o
.deps
.libs
.*.swp

Makefile

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/missing
/stamp-h1

/*.gdb
/ioctls.h
/ioctldefs.h
/ioctlsort
/strace

/linux/ioctlent.h

/strace-*.tar.xz
